html {
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
}

.container {
  max-width:1100px;
  margin: 50px auto;
  padding-left:250px;
  padding-right: 0;
}

.sidenav {
  float:left;
  width:200px;
  margin-left:-250px;
}

.sidenav a {
  padding: 10px 0px 10px 0px;
  text-decoration: underline;
  font-size: 24px;
  color: #0500FF;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}


.main {
  background:#f0f0f0;
}

h1 {
  font-family: 'Noto Serif', serif;
  font-size: 24px;
  line-height: 1.5;
}

.static {
  cursor: not-allowed;
}
.draggable {
  cursor: move;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
