html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;

  background-color: #7000FF;
  opacity: 1;
  background-image:  repeating-linear-gradient(45deg, #7000FF 25%, transparent 25%, transparent 75%, #7000FF 75%, #7000FF), repeating-linear-gradient(45deg, #7000FF 25%, #FFFFFF 25%, #FFFFFF 75%, #7000FF 75%, #7000FF);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;

}

.container {
  position: relative;
  width: auto;
  padding: 20px 20px;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F8F8F8;
}

p, h1 {
  /* font-family: 'Times New Roman', serif; */
  font-family: 'Archivo', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 130%;
}

.main {
  margin-bottom: 320px;
}


/* ✿✿✿✿✿✿✿✿✿✿✿✿✿✿ HEADER/NAV ✿✿✿✿✿✿✿✿✿✿✿✿✿✿ */

.header {
  width: 100%;
}

.header-left {
  float: left;
  font-family: 'Archivo', sans-serif !important;
  font-size: 1rem !important;
}

.header-right {
  float: right;
  font-family: 'Archivo', sans-serif !important;
  font-size: 1rem !important;
}

.header a.nav {
  font-family: 'Archivo', sans-serif;
  font-size: 1rem;
}

.header p {
  clear: both;
  font-family: 'Nanum Myeongjo', serif;
  width: 25% !important;
  font-size: .9rem;
  margin: 0;
  min-width: 250px;
}



/* ✿✿✿✿✿✿✿✿✿✿✿✿✿✿ CONTENT ✿✿✿✿✿✿✿✿✿✿✿✿✿✿ */

.content {
  /* width: 65%; */
  margin-left: auto;
  margin-right: 0;
}

.content a {
  font-family: 'Nanum Myeongjo', monospace;
  font-size: 1rem;
}

.rowtitle {
  font-family: 'Archivo', sans-serif !important;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 160%;
  margin: 0;
  padding: 0;
  /* margin: 15px 0px 5px 0px; */
}

.row {
  /* background: yellow; */
  margin-top: 100px;
}

.row:after {
   content: "bbbbubbubhbubu";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.rowimg {
  /* background:
      linear-gradient(to top left,
          rgba(0,0,0,0) 0%,
          rgba(0,0,0,0) calc(50% - 0.8px),
          rgba(0,0,0,1) 50%,
          rgba(0,0,0,0) calc(50% + 0.8px),
          rgba(0,0,0,0) 100%),
      linear-gradient(to top right,
          rgba(0,0,0,0) 0%,
          rgba(0,0,0,0) calc(50% - 0.8px),
          rgba(0,0,0,1) 50%,
          rgba(0,0,0,0) calc(50% + 0.8px),
          rgba(0,0,0,0) 100%);
          -webkit-box-shadow:inset 0px 0px 0px 1px #000;
          -moz-box-shadow:inset 0px 0px 0px 1px #000;
          box-shadow:inset 0px 0px 0px 1px #000; */
  width: 33%;
  height: 200px;
  float: left;
  margin-right: 2%;
}

.topline {
  width:65%;
  float: right;
}


.row p {
  display: inline-block;
  /* margin-left: 35%; */
  width: 30%;
  min-width: 350px;
  line-height: 150%;
  font-size: .9rem;
}

.topline {
  /* width: 100%; */
  font-family: 'Nanum Myeongjo', monospace;
  font-size: .9rem;
  padding-top: 20px;
  border-top: 1px solid;
}


.textimg{
    width: auto;
    height: 0.6rem;
    vertical-align: middle;
 }

span#reflink{
  font-size: 0.5rem;
  vertical-align: top;

  padding-left:10px;
  padding-right:10px;

  line-height: 200%;

  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #4200FF;

  background-color: #4200FF;
  color: white;
  text-align: center;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #4200FF;
}

a:hover {
  color: #1F0076;
  font-style: italic;
}

span#reflink:hover {
  color: #1F0076;
  background-color: white;
}



/* ✿✿✿✿✿✿✿✿✿✿✿✿✿✿ FOOTER ✿✿✿✿✿✿✿✿✿✿✿✿✿✿ */

button {
  padding: 0;
  margin: 10px 0px;
}

.click-to-copy-container {
  position: relative;
}

button.click-to-copy {
  background: none;
  border: none;
  letter-spacing: -0.2px;
  transition: all .2s ease-in-out;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 400;
  color: #4200FF;
  cursor: pointer;
}

button:hover span {
  display: none;
}

button.click-to-copy:hover:before {
  content: "viymye@gmail.com"
}

button.click-to-copy:hover {
  color: #1F0076;
  font-family: "Archivo", sans-serif;
}

.resume:hover span{
  display: none;
}

.resume:hover:before {
  content: "vickyye_resume.pdf";
}

.resume:hover {
  color: #1F0076;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  line-height: 1rem;
}



footer {
  font-size: 1rem;
  font-family: 'Archivo', sans-serif;
  margin-top: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer a {
  color: #4200FF;
}

.foot {
  padding: 0px 20px;
}

.foot h1 {
  padding-top: 20px;
  border-top: 1px solid black;
}

footer span {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1rem;
  line-height: 1rem;
}




button.click-to-copy + span {
  display: none;
  background: #4200FF;
  border-radius: 50%;
  position: absolute;
  font-family: 'Nanum Myeongjo', monospace;
  line-height: 100%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px;
  letter-spacing: .4px;
  color: white;
  bottom: 40%;
  left: 1%;
  transform: rotate(15deg);
}

/* Styles for the tooltip arrow */
button.click-to-copy + span:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(218, 218, 218, 0);
	border-right-color: #DADADA;
	border-width: 6px;
	margin-top: -6px;
}

/* When the click event is fired, and the .is-copied class is added to the button, show the tooltip */
button.click-to-copy.is-copied + span {
  display: initial;
}






@media (max-width: 700px) {




  .container {
    width: auto;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    overflow-y: scroll
  }

  .intro {
    width: 100%;
  }

  .rowimg {
    display: none;
  }

  .row {
    width: 100%;
    float: none;
  }

  .content {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .topline {
    width: 100%;
  }



}
